In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [36]:
data={'imie': ['Clementine', 'Darek', 'Lacrima'], 'ród': ['Divitian', 'Farnesse', 'Sirvouple']}
osoby=DataFrame(data)

In [33]:
osoby

         imie        ród
0  Clementine   Divitian
1       Darek   Farnesse
2     Lacrima  Sirvouple

In [39]:
osob=osoby.reindex([1,2,3])

In [40]:
osob

      imie        ród
1    Darek   Farnesse
2  Lacrima  Sirvouple
3      NaN        NaN

In [41]:
osob=Dataframe(osob, index=[1,2,3])

NameError: name 'Dataframe' is not defined

In [18]:
osoby.loc[1]

imie    Clementine
ród       Divitian
Name: 1, dtype: object

In [26]:
ind=osoby.index
ind[1]

2