In [3]:
import matplotlib.pyplot as plt
import numpy as np
from numpy.random import randn
import pandas as pd
from pandas import Series, DataFrame

In [4]:
obj=Series([3,6,9,12])
print(obj)

0     3
1     6
2     9
3    12
dtype: int64

In [8]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
ww2 = Series([8700000, 4300000, 3000000, 2100000, 400000], 
                 index=['USSR', 'Germany', 'China', 'Japan', 'USA'])

In [11]:
ww2.index

Index(['USSR', 'Germany', 'China', 'Japan', 'USA'], dtype='object')

In [14]:
ww2

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [15]:
ww2['USA']

400000

In [16]:
ww2[ww2>2500000]

USSR       8700000
Germany    4300000
China      3000000
dtype: int64

In [18]:
ww2.dict=ww2.to_dict()
print(ww2.dict)

{'USSR': 8700000, 'Germany': 4300000, 'China': 3000000, 'Japan': 2100000, 'USA': 400000}

In [20]:
ww2_series=Series(ww2.dict)
print(ww2_series)

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [23]:
countries=['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']
ww2_series=Series(ww2.dict, index=countries)
print(ww2_series)

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [26]:
ww2=ww2_series
pd.isnull(ww2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [28]:
pd.notnull(ww2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [30]:
ww2.name="World War 2 Casualties"
print(ww2)

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [32]:
ww2.index.name='country'
print(ww2)

country
China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [34]:
import webbrowser

website = 'https://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [38]:

nfl_frame = pd.read_clipboard()

In [39]:
nfl_frame

Empty DataFrame
Columns: [nfl_frame, =, pd.read_clipboard()]
Index: []

In [40]:
path = '/Users/Paula/Documents/python/plik.txt'
plik=open(path, 'r')
plik.read()

'123 \nhaha\nWlazł\nkotek\nna płotek'

In [41]:
path='/Users/Paula/Desktop/Mgr/green_tripdata_2016-01.csv'
styczen = pd.read_csv(path)

In [42]:
st=styczen
st.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2016-01-01 00:29:24,2016-01-01 00:39:36,N,1,-73.928642,40.680611,-73.924278,40.698044,1,...,8.0,0.5,0.5,1.86,0.0,NaN,0.3,11.16,1,1.0
1,2,2016-01-01 00:19:39,2016-01-01 00:39:18,N,1,-73.952675,40.723175,-73.923920,40.761379,1,...,15.5,0.5,0.5,0.00,0.0,NaN,0.3,16.80,2,1.0
2,2,2016-01-01 00:19:33,2016-01-01 00:39:48,N,1,-73.971611,40.676105,-74.013161,40.646072,1,...,16.5,0.5,0.5,4.45,0.0,NaN,0.3,22.25,1,1.0
3,2,2016-01-01 00:22:12,2016-01-01 00:38:32,N,1,-73.989502,40.669579,-74.000648,40.689034,1,...,13.5,0.5,0.5,0.00,0.0,NaN,0.3,14.80,2,1.0
4,2,2016-01-01 00:24:01,2016-01-01 00:39:22,N,1,-73.964729,40.682854,-73.940720,40.663013,1,...,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1.0

In [44]:
st.columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
       'Tip_amount', 'Tolls_amount', 'Ehail_fee', 'improvement_surcharge',
       'Total_amount', 'Payment_type', 'Trip_type '],
      dtype='object')

In [46]:
st.loc[3]

VendorID                                   2
lpep_pickup_datetime     2016-01-01 00:22:12
Lpep_dropoff_datetime    2016-01-01 00:38:32
Store_and_fwd_flag                         N
RateCodeID                                 1
Pickup_longitude                    -73.9895
Pickup_latitude                      40.6696
Dropoff_longitude                   -74.0006
Dropoff_latitude                      40.689
Passenger_count                            1
Trip_distance                           3.01
Fare_amount                             13.5
Extra                                    0.5
MTA_tax                                  0.5
Tip_amount                                 0
Tolls_amount                               0
Ehail_fee                                NaN
improvement_surcharge                    0.3
Total_amount                            14.8
Payment_type                               2
Trip_type                                  1
Name: 3, dtype: object

In [49]:
st.drop('Ehail_fee', axis=1, inplace=True)

ValueError: labels ['Ehail_fee'] not contained in axis

In [51]:
st.columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Extra', 'MTA_tax',
       'Tip_amount', 'Tolls_amount', 'improvement_surcharge', 'Total_amount',
       'Payment_type', 'Trip_type '],
      dtype='object')

In [52]:
st.drop('Extra', axis=1, inplace=True)
st.drop('MTA_tax', axis=1, inplace=True)
st.drop('improvement_surcharge', axis=1, inplace=True)
st.drop('Tolls_amount', axis=1, inplace=True)

In [54]:
st.columns

Index(['VendorID', 'lpep_pickup_datetime', 'Lpep_dropoff_datetime',
       'Store_and_fwd_flag', 'RateCodeID', 'Pickup_longitude',
       'Pickup_latitude', 'Dropoff_longitude', 'Dropoff_latitude',
       'Passenger_count', 'Trip_distance', 'Fare_amount', 'Tip_amount',
       'Total_amount', 'Payment_type', 'Trip_type '],
      dtype='object')

In [55]:
st.drop('VendorID', axis=1, inplace=True)

In [59]:
st.drop('Store_and_fwd_flag', axis=1, inplace=True)

In [61]:
st.drop('RateCodeID', axis=1, inplace=True)

In [62]:
test=st.head(10)
test

,lpep_pickup_datetime,Lpep_dropoff_datetime,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Tip_amount,Total_amount,Payment_type,Trip_type
0,2016-01-01 00:29:24,2016-01-01 00:39:36,-73.928642,40.680611,-73.924278,40.698044,1,1.46,8.0,1.86,11.16,1,1.0
1,2016-01-01 00:19:39,2016-01-01 00:39:18,-73.952675,40.723175,-73.923920,40.761379,1,3.56,15.5,0.00,16.80,2,1.0
2,2016-01-01 00:19:33,2016-01-01 00:39:48,-73.971611,40.676105,-74.013161,40.646072,1,3.79,16.5,4.45,22.25,1,1.0
3,2016-01-01 00:22:12,2016-01-01 00:38:32,-73.989502,40.669579,-74.000648,40.689034,1,3.01,13.5,0.00,14.80,2,1.0
4,2016-01-01 00:24:01,2016-01-01 00:39:22,-73.964729,40.682854,-73.940720,40.663013,1,2.55,12.0,0.00,13.30,2,1.0
5,2016-01-01 00:32:59,2016-01-01 00:39:35,-73.891144,40.746456,-73.867744,40.742111,1,1.37,7.0,0.00,8.30,2,1.0
6,2016-01-01 00:34:42,2016-01-01 00:39:21,-73.896675,40.746197,-73.886192,40.745689,1,0.57,5.0,0.00,6.30,2,1.0
7,2016-01-01 00:31:23,2016-01-01 00:39:36,-73.953354,40.803558,-73.949150,40.794121,1,1.01,7.0,0.00,8.30,2,1.0
8,2016-01-01 00:24:40,2016-01-01 00:39:52,-73.994064,40.702816,-73.971573,40.679726,1,2.46,12.0,2.00,15.30,1,1.0
9,2016-01-01 00:28:59,2016-01-01 00:39:23,-73.914131,40.756641,-73.917549,40.739658,1,1.61,9.0,1.60,11.90,1,1.0

In [58]:
test.drop('Store_and_fwd_flag', axis=1, inplace=True)

C:\Users\Paula\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [66]:
st['platnosc']=np.arange(len(st))

In [67]:
st.head(10)

,lpep_pickup_datetime,Lpep_dropoff_datetime,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Tip_amount,Total_amount,Payment_type,Trip_type,platnosc
0,2016-01-01 00:29:24,2016-01-01 00:39:36,-73.928642,40.680611,-73.924278,40.698044,1,1.46,8.0,1.86,11.16,1,1.0,0
1,2016-01-01 00:19:39,2016-01-01 00:39:18,-73.952675,40.723175,-73.923920,40.761379,1,3.56,15.5,0.00,16.80,2,1.0,1
2,2016-01-01 00:19:33,2016-01-01 00:39:48,-73.971611,40.676105,-74.013161,40.646072,1,3.79,16.5,4.45,22.25,1,1.0,2
3,2016-01-01 00:22:12,2016-01-01 00:38:32,-73.989502,40.669579,-74.000648,40.689034,1,3.01,13.5,0.00,14.80,2,1.0,3
4,2016-01-01 00:24:01,2016-01-01 00:39:22,-73.964729,40.682854,-73.940720,40.663013,1,2.55,12.0,0.00,13.30,2,1.0,4
5,2016-01-01 00:32:59,2016-01-01 00:39:35,-73.891144,40.746456,-73.867744,40.742111,1,1.37,7.0,0.00,8.30,2,1.0,5
6,2016-01-01 00:34:42,2016-01-01 00:39:21,-73.896675,40.746197,-73.886192,40.745689,1,0.57,5.0,0.00,6.30,2,1.0,6
7,2016-01-01 00:31:23,2016-01-01 00:39:36,-73.953354,40.803558,-73.949150,40.794121,1,1.01,7.0,0.00,8.30,2,1.0,7
8,2016-01-01 00:24:40,2016-01-01 00:39:52,-73.994064,40.702816,-73.971573,40.679726,1,2.46,12.0,2.00,15.30,1,1.0,8
9,2016-01-01 00:28:59,2016-01-01 00:39:23,-73.914131,40.756641,-73.917549,40.739658,1,1.61,9.0,1.60,11.90,1,1.0,9

In [74]:
st.head()

,lpep_pickup_datetime,Lpep_dropoff_datetime,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Tip_amount,Total_amount,Payment_type,Trip_type,platnosc
0,2016-01-01 00:29:24,2016-01-01 00:39:36,-73.928642,40.680611,-73.924278,40.698044,1,1.46,8.0,1.86,11.16,1,1.0,0
1,2016-01-01 00:19:39,2016-01-01 00:39:18,-73.952675,40.723175,-73.923920,40.761379,1,3.56,15.5,0.00,16.80,2,1.0,1
2,2016-01-01 00:19:33,2016-01-01 00:39:48,-73.971611,40.676105,-74.013161,40.646072,1,3.79,16.5,4.45,22.25,1,1.0,2
3,2016-01-01 00:22:12,2016-01-01 00:38:32,-73.989502,40.669579,-74.000648,40.689034,1,3.01,13.5,0.00,14.80,2,1.0,3
4,2016-01-01 00:24:01,2016-01-01 00:39:22,-73.964729,40.682854,-73.940720,40.663013,1,2.55,12.0,0.00,13.30,2,1.0,4

In [76]:
data={'Litera': ['A', 'B', 'C'], 'Liczba': [1,2,3]}
lit=DataFrame(data)
lit

   Liczba Litera
0       1      A
1       2      B
2       3      C